@media (max-width: 425px){
    .login-container{
        color: white;
        background-color: rgb(81, 163, 211);
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo{
        margin-top: 40%;
        margin-bottom: 8%;
        font-size: 40px;
        font-weight: 700;
    }
    .login-form{
        display: inherit;
        flex-direction: inherit;
        justify-content: center;
        align-items: inherit;
        width: 30%;
    }
    .username-container, .password-container {
        margin-bottom: 20px;
    }
    
    .username-input, .password-input{
        width: 175px;
        height: 25px;
        border: none;
        border-radius: 5px;
    }
    .signIn-button{
        width: 5em;
        height: 2em;
        display: inherit;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: transparent;
        border: 1px white solid;
    }
    
    .signIn-button:hover{
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
    }    
}

@media (min-width: 426px) {
    .login-container{
        color: white;
        background-color: rgb(81, 163, 211);
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo{
        margin-top: 10%;
        margin-bottom: 3%;
        font-size: 52px;
        font-weight: 700;
    }
    .login-form{
        display: inherit;
        flex-direction: inherit;
        justify-content: center;
        align-items: inherit;
        width: 40%;
    }
    .username-container, .password-container {
        display: inherit;
        flex-direction: inherit;
        margin-bottom: 30px;
    }
    
    .username-input, .password-input{
        width: 250px;
        height: 35px;
        border: none;
        border-radius: 5px;
    }
    .signIn-button{
        width: 8em;
        height: 3em;
        display: inherit;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: transparent;
        border: 1px white solid;
        border-radius: 5px;
    }
    
    .signIn-button:hover{
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        background: rgba(216, 216, 216, 0.3);
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
    }    
}

