* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    height:100%
}

.box{
    height:100%
}

.bubbles-container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    align-items: center;
    color: white;
    background-color: rgb(81, 163, 211);
    min-height: 100vh;
}

.delete-button {
    margin-bottom: 20px;
}

.bubble-title {
    font-family: 'Passion One';
    font-weight: 700;
    font-size: 48px;
}

.toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
}

.links {
    font-size: 18px;
    margin-top: 10px ;
    margin-right: 40px;
    margin-left: 40px;
}

.button-width{
    width: 100px
}

#addbutton{
    margin: 10px 0px 30px 0px
}

.bubble-status{
    margin-top: 20px;
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.user-posts{
    display: flex;
    flex-direction: row;
    width: 90vw;
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
    margin: 10px 0px 20px 0px;
}

.name-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px; 
}

.username, .date {
    font-weight: bold;
}

.profile-pic {
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.post-content {
    margin-top: 5px;
    margin-left:10px;
    margin-bottom: 10px;
}

.bubble-status-green{
    font-size: 16px;
    color: green
}

.bubble-status-yellow{
    font-size: 16px;
    color: yellow
}

.bubble-status-red{
    font-size: 16px;
    color: red
}

@media (max-width: 425px){
    .bubbles-container{
        justify-content: center;
    }
}