.button-width{
    width: 100px
}

.card{
    margin-bottom: 20px;
}

.bubble-status-green{
    font-size: 16px;
    color: green
}

.bubble-status-yellow{
    font-size: 16px;
    color: yellow
}

.bubble-status-red{
    font-size: 16px;
    color: red
}