.button-width{
    width: 100px
}

.card{
    margin-bottom: 20px;
}

<<<<<<< HEAD
.bubble-status-green{
    font-size: 16px;
    color: green
}

.bubble-status-yellow{
    font-size: 16px;
    color: yellow
}

.bubble-status-red{
    font-size: 16px;
    color: red
=======
#root{
    height:100%
}

.box{
    height:100%
>>>>>>> a54869e539b4e5cdc30c7aabacaf9362f6cf8be0
}